@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}
header{
    margin-top: 47px;
    margin-left: 42px;
}
.header-link{
    margin-right: 32px;
}
.button-link{
    background-color:#6FBF44 ;
    border: 1px solid #4cb53b;
    border-radius: 6px;
    width: 124px;
    height: 51px;
    cursor: pointer;
    font-size: 16px;
}
img{
    margin-top: 163px;
    margin-left: 131px;
    display: inline-block;
}
div{
    display: inline-block;
    width: 493px;
}
h1{
    font-weight: 700;
}
p{
    font-size: 18px;
    margin: 47px 0 55px;
    
}